body{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'poppins',sans-serif;
            align-items: center;
            
        }
        .container{
            height: 300px;
            width: 200px;
            background-color: black;
            border: 1px solid rgb(18, 221, 11);
            border-radius: 5px;
            display: flex;
            align-items: center;
           justify-content: center;
        }
        h1,h2{
            color: yellow;
        }
        .circle{
            margin: 7px auto;
            width: 40px;
            height: 40px;
            border: 5px solid rgba(255,255,255,0.2);
            border-radius: 50%;
            border-top-color: red;
            animation: spin 2.0s linear infinite normal;
        }
        @keyframes spin{
            100%{
                transform: rotate(360deg);
            }
        }
